body{
    background-color: rgba(169, 199, 179, 0.842);
}


#copy-area  {
   width: 100%;
   background-color: rgba(59, 59, 75, 0.699);
   text-align: center;
   
}


#copy-area   {
    padding: 10px 0px;
}


#contact-area{
   background-color: rgba(59, 59, 75, 0.699);
   text-align: center;
    background-color: rgba(59, 59, 75, 0.699);
    
}
.container-caroseul {
   max-width: 800px;
   margin: 0 auto;
   margin-bottom: 20px;
   margin-top: 20px;
}
.container{
    margin-bottom: 20px;
}