body{
    background-color: rgba(169, 199, 179, 0.842);
}



#copy-area   {
    padding: 10px 0px;
    bottom: 0;
    color: rgb(255, 255, 255);
    width: 100%;
    background-color: rgba(75, 59, 74, 0.699);
    text-align: center;
    
}


.container-caroseul {
   max-width: 800px;
   margin: 0 auto;
   margin-bottom: 20px;
}
div.container-card .col{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
   
}
.cantainere-forum-label{
   margin-left: 25%;
   margin-top: 20px;
   margin-bottom: 20px;
}
.table-container {
  height: 410px;
}

.table {
  margin: 0;
}
.modal-body #cantainere-forum div.row{
  margin: 15px;
}